#container{
	position: relative;
	top: 25px;
	margin: auto;
	width: 600px;
	height: 600px;
	background-color: black;
	//outline: #00ff00 dotted thin;
	}
	

a:link    {text-decoration:none;}
a:visited {text-decoration:none;}
a:hover   {text-decoration:none;}
a:active  {text-decoration:none;}
	
.float{
	float: left;		
		}

.white{
	background-color: white;	
	}
	
.top{
		height: 50px;
		////outline: #00ff00 dotted thin;
	}
#t1{
		float: left;
		width: 129px;
		height: inherit;
		font-size: 18px;
		background-color: #dcdfd8;
		//outline: #00ff00 dotted thin;
	}	
	
#t2{
	float: left;
	margin-left: 15px;
	width: 	213px;
	height: inherit;
	background-color: #eee7dd;
	//outline: #00ff00 dotted thin;
	}
	
#t3{
	float: left;
	margin-left: 15px;
	width: 213px;	
	height: inherit;
	background-color: #fad168;
	text-align:center;
	//outline: #00ff00 dotted thin;
	}
	
.left{
	width: 50px;	
	float: left;
	margin-top: 15px;
	}
	
#l1{
		background-color: #fefef2;
		height: 192px;
		width: inherit;
		//outline: #00ff00 dotted thin;
	}
	
#l2{
		background-color: #e3e5e2;
		height: 193px;
		width: inherit;
		margin-top: 15px;
		//outline: #00ff00 dotted thin;
	}
	
#l3{
		background-color: #ffd25b;
		width: inherit;
		height: 120px;
		margin-top: 15px;
		//outline: #00ff00 dotted thin;
	}
	
.middle{
	margin-top: 15px;
	margin-left: 15px;
	width: 292px;
	float: left;
	}
	
#m1{
		background-color: #d82b1b;
		width: inherit;
		height: 292px;
		//outline: #00ff00 dotted thin;
	}
	
#m1 h1{
		color:white;
		margin:0px;
		padding-left:10px;
		font-size:68px;
		font-family:"Lucida Grande","Lucida Sans Unicode",Verdana,Sans-serif;
	}
	
#m1 p{
		color:white;
		margin:0px;
		padding-left:30px;
		font-family:"Microsoft Yahei",Sans-serif;
	}
	
#m2{
		background-color: #15060b;
		width: 139px;
		height: 138px;
		float: left;
		margin-top: 15px;
		//outline: #00ff00 dotted thin;
	}
	
#m3{
		background-color: #87CEFA;
		width: 138px;
		height: 61px;
		margin-left: 15px;
		margin-top: 15px;
		float: left;
		text-align:center;
		//outline: #00ff00 dotted thin;
	}
	
#m3 a{
		display:block;
		width:138px;
		height:61px;
		color:white;
	}

	
#m4{
		background-color: #c0c3bc;
		width: 138px;
		height: 62px;
		margin-left: 15px;
		margin-top: 15px;
		float: left;
		//background-image: url(twitterbird.png);
		//outline: #00ff00 dotted thin;
	}
	
#m4 a{
		display:block;
	}
	
#m5{
		margin-top: 15px;
		width: 138px;
		height: 75px;
		background-color: #d3d5c7;
		float: left;
		clear: left; //important
		//outline: #00ff00 dotted thin;
	}
	
#m6{
		background-color: #15060b;
		margin-top: 15px;
		margin-left: 15px;
		height: 41px;
		float: left;
		width: 138px;
		//outline: #00ff00 dotted thin;
	}
	
#m7{
	float: left;
	margin-right: -203px;
	margin-left: 15px;
	margin-top: 15px; 
	width: 341px;
	height: 19px;
	background-color: #d3d5c7;
	//outline: #00ff00 dotted thin;
	}	
		
	
.right{
	width: 188px;
	float: left;
	margin-left: 15px;
	margin-top: 15px;
	}
	

#r1{
		background-color: #f5cb65;
		width: inherit;
		height: 138px;
		//outline: #00ff00 dotted thin;
	}
	
#r2{
	margin-top: 15px;
	background-color: #e3dec8;
	width: 86px;
	height: 138px;	
	float: left;
	//outline: #00ff00 dotted thin;
	}
	
#r3{
	margin-top: 15px;
	margin-left: 15px;
	background-color: #e3dec8;
	width: 86px;
	height: 138px;	
	float: left;
	//outline: #00ff00 dotted thin;
	}
	
#r4{
	float: left;
	height: 61px;
	width: inherit;
	background-color: #e3dec8;
	margin-top: 15px;
	//outline: #00ff00 dotted thin;
	}

#r4 a{
		display:block;
		width:188px;
		height:61px;
	}
	
#r5{
	margin-top: 15px;
	float:left; 
	height: 118px;
	width: inherit;
	background-color: #3f0993;
	//outline: #00ff00 dotted thin;
	}
	
.rright{
	margin-left: 15px;
	margin-top: 15px;
	width: 25px;	
	float: left;
	}
	
#rr1{
		height: 367px;
		background-color: #ecf3eb;
		width: inherit;
		//outline: #00ff00 dotted thin;
	}
	
#rr2{
	background-color: #d2331d;
	margin-top: 15px;
	width: inherit;
	height: 153px;
	//outline: #00ff00 dotted thin;
	}
	
img{border:none;}